aiofiles==25.1.0
aiogram==3.23.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp_socks==0.11.0
aiosignal==1.4.0
aiosqlite==0.22.1
altgraph==0.17.5
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.0
APScheduler==3.11.2
attrs==26.1.0
bcrypt==3.2.2
beautifulsoup4==4.14.3
behave==1.2.6
blinker==1.9.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.1
colorama==0.4.6
credits==0.0.1
cryptography==49.0.0
cssselect==1.4.0
customtkinter==5.2.2
darkdetect==0.8.0
distro==1.9.0
docutils==0.22.4
exceptiongroup==1.3.1
execnet==2.1.2
fastapi==0.138.1
fasteners==0.20
filelock==3.29.0
filetype==1.2.0
Flask==3.1.2
frozenlist==1.8.0
git-filter-repo==2.47.0
google-ai-generativelanguage==0.6.15
google-api-core==2.31.0
google-api-python-client==2.197.0
google-auth==2.55.0
google-auth-httplib2==0.4.0
google-genai==2.9.0
googleapis-common-protos==1.75.0
greenlet==3.5.3
grpcio==1.81.1
grpcio-status==1.71.2
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
idna==3.16
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
Kivy==2.3.1
Kivy-Garden==0.1.5
kivy_deps.angle==0.4.0
kivy_deps.glew==0.3.1
kivy_deps.sdl2==0.8.0
lxml==6.1.1
magic-filter==1.0.12
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mcpi==1.2.1
mdurl==0.1.2
MouseInfo==0.1.3
multidict==6.7.0
mycdp==1.3.7
numpy==2.4.6
opencv-python==4.13.0.92
outcome==1.3.0.post0
packaging==26.2
parameterized==0.9.0
parse==1.22.0
parse_type==0.6.6
passlib==1.7.4
pdbp==1.8.2
pefile==2024.8.26
pillow==12.0.0
platformdirs==4.9.6
pluggy==1.6.0
propcache==0.4.1
proto-plus==1.28.0
protobuf==5.29.6
psutil==7.2.2
psycopg2-binary==2.9.12
py3minepi @ file:///C:/Users/%D0%9C%D0%B0%D1%80%D0%BA/Desktop/Minecraft%20Tools/minecraftPythonAPI.zip#sha256=7cf2e2830b3cfa83b35b5dfb5ba9548ccba8a0a72445c1d037d170b3f54a5813
pyasn1==0.6.3
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
PyJWT==2.13.0
PyMsgBox==2.0.1
pynose==1.5.5
pyotp==2.9.0
pyparsing==3.3.2
pyperclip==1.11.0
pypiwin32==223
PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6_sip==13.11.0
pyreadline3==3.5.6
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pyTelegramBotAPI==4.32.0
pytest==9.0.3
pytest-html==4.0.2
pytest-metadata==3.1.1
pytest-ordering==0.6
pytest-rerunfailures==16.2
pytest-xdist==3.8.0
python-dotenv==1.2.2
python-multipart==0.0.32
python-pptx==1.0.2
python-socks==2.8.1
pytweening==1.2.0
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
sbvirtualdisplay==1.4.0
selenium==4.44.0
seleniumbase==4.49.2
setuptools==82.0.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
SQLAlchemy==2.0.51
starlette==1.3.1
tabcompleter==1.4.1
tenacity==9.1.4
tqdm==4.68.3
trio==0.33.0
trio-websocket==0.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
Unidecode==1.4.0
uritemplate==4.2.0
urllib3==2.7.0
uvicorn==0.49.0
vk_api==11.10.0
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.4
wheel==0.47.0
wsproto==1.3.2
xlsxwriter==3.2.9
yarl==1.22.0
